# Variabel

In [1]:
x = 5
y = "John"
print(x)
print(y)
print(type(x))
print(type(y))

5
John
<class 'int'>
<class 'str'>

# Data Types and Typecasting

In [2]:
x = float(1)
y = float(2.8)
z = float("3")
print(x)
print(y)
print(z)

1.0
2.8
3.0

# Operator

In [3]:
#addition operation
x = 43 + 23 + 17+ 50
print(x)

#subtraction operation
y = 30-50
print(y)

#multiple operation
z = 5 * 7
print(z)

#division
a = 25 / 5

#integer division operation, the result is always integer
b = 25 // 6
print (b)

133
-20
35
4

# String

In [10]:
station = "Semarang Tawang"
print(station[1])
print(station[-9])
print(len(station))
print(station[7:12])
print(station[1:11:2])
station = station.upper()
print(station)
station = station.lower()

e
n
15
g Taw
eaagT
SEMARANG TAWANG